Question 1 :- In the below elements which of them are values or an expression?

*         Expression

'hello'   value

-87.8     value

-         Expression

/         Expression

+         Expression

6         value

Question 2 :- What is the difference between String and variable?

Answer     :-  Variable:- Variable is something that we assign a particular value for eg

In [12]:
a = 43

In [13]:
a

43

here 'a' is variable and we have assigned value '43' to 'a'

String :- String is a type of information that we store in variable  particularly in inverted commas , for eg:-

In [14]:
b = ' vanshika dhankhar '

In [15]:
type(b)

str

'vanshika dhankhar ' is a string.

Question 3 :- Describe three different types of data types.

Answer   3 :-  (1) Integers (negative numbers , positive numbers as well as 0)  for e.g.:- 12,23,45

(2) float (decimal values) for e.g:- 3.15 , 9.06, 00.13

(3)Boolean (representing logical values) for eg:- True and False [True represents 1 and False represents 0]

Question 4 :- What is an expression made up of ? What do all Expressions do ?

Answer   4 :- A expression is made up of identifiers and operators which are constructed according to the syntax of a language , that evaluates to a single value. all expressions yields some value .

Question 5 :- This assignment statements , like spam = 10 . what is the difference between an expression and a statement ?

Answer 5 :- statement represent an action or command e.g. print statements, assignment statements for e.g. spam = 10

but expression is a combination of operands ,variables that yields a result value for e.g.:- 5*5 yields 25

Question 6:- After running the following code ,what does the variable bacon contain ?

In [21]:
bacon = 22

In [22]:
bacon +1

23

Question 7 :- What should be the values of following two terms be ?

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [24]:
'spam'*3

'spamspamspam'

Question 8 :- Why is eggs a valid variable name while 100 is invalid?

Answer 8 :- Variables names cannot begin with number and 100 is a integer value.

Question 9 :- What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer 9  :- The int(), float() and str()

Question 10:- Why does this expression cause an error ? How can u fix it ?

In [27]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [32]:
'I have eaten '+ ' 99 ' +'burritos'

'I have eaten  99 burritos'

Earlier 99 was not put under inverted commas hence it was not considered as string.